<p>
<b> <%= month.month_name %> </b>
</p>

<table>
	<thead>
		<tr>
    <% Date::DAYNAMES.each { |d| %>
			<th> <%= d %> </th>
    <% } %>
		</tr>
	</thead>
	<% month.weeks.each { |w|  %>
		<tr>
      <% w.each { |d| %>
				<td> 
					<% if d[:date].blank? then %> 
				  
				  <% else %>
						<b> <%= d[:date].day %> </b>
					  <br />
						<% d[:items].each { |i| %>
							<%= render partial: "item", locals: { item: i } %>
					    <br />
			      <% } %>
				  <% end %>
					<br />
				</td>
      <% } %>
		</tr>
  <% } %>
</table>
