<h1> Recurrent Items  </h1>

<h2>  Use Cases (CRUD plus)  </h2>

<ul>
	<li> Create a recurrent item </li>
	<li> Edit a recurrent item </li>
	<li> Display (show) a recurrent item </li>
	<li> Display all recurrent items </li>
	<li> Destroy a recurrent item </li>
	<li> edit a regular item associated with a recurrent item </li>
	<li> destroy a regular item associated with a recurrent item </li>
</ul>

<h2> Invariants  </h2>

<ul>
	<li>  recurrent item by fixed day of month </li>
	<li>  recurrent item by nth week day of month </li>
</ul>
